/* CSS files add styling rules to your content */

.fakeimg {
  height: 200px;
  background: #cd8c8c;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/* .jumbotron {
  background-color: ;
  color: black;
} */

/* .navbar {
  background-color: red !important;
} */

.jumbotron {
  background-image: url("Cherry\ Blossom.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: rgb(0, 0, 0);
}


